#project {
  background-image: url(img/bg2.jpg);
}
.garis1 {
  width: 507px;
  height: 59px;
  left: 122px;
  top: 209px;
  position: absolute;
  border-radius: 30px;
  opacity: 60%;
  background-color: #d9d9d9;
}
.garis2 {
  width: 507px;
  height: 59px;
  left: 660px;
  top: 209px;
  position: absolute;
  border-radius: 30px;
  opacity: 60%;
  background-color: #d9d9d9;
}
.h2 {
  margin-bottom: 100px;
}

.container {
  bottom: 500px;
}
